langfuse:
  salt:
    secretKeyRef:
      name: langfuse-general
      key: salt
  nextauth:
    url: "PLACEHOLDER_URL"
    secret:
      secretKeyRef:
        name: langfuse-nextauth-secret
        key: nextauth-secret

postgresql:
  auth:
    username: langfuse
    existingSecret: langfuse-postgresql-auth
    secretKeys:
      userPasswordKey: password

clickhouse:
  auth:
    existingSecret: langfuse-clickhouse-auth
    existingSecretKey: password
  # Allow nondeterministic mutations for trace deletion
  usersdFiles:
    allow_mutations.xml: |
      <clickhouse>
        <profiles>
          <default>
            <allow_nondeterministic_mutations>1</allow_nondeterministic_mutations>
          </default>
        </profiles>
      </clickhouse>

redis:
  auth:
    existingSecret: langfuse-redis-auth
    existingSecretPasswordKey: password

s3:
  auth:
    existingSecret: langfuse-s3-auth
    rootUserSecretKey: rootUser
    rootPasswordSecretKey: rootPassword